.ftrPrincipal{
    width: 100%;
    box-sizing: border-box;
    height: 8.2vh;
    background-color: #79229b;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.nameIp{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 22px;
    padding-top: 0.8rem;
    color: rgb(53, 26, 88);
}
