.ftrPrincipal{
    width: 100vw;
    height: 3.5rem;
    background-color: #79229b;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.nameIp{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 22px;
    padding-top: 0.8rem;
}
.logoBodyN{
    width: 11rem;
    height: 5rem;
    position: absolute;
    left: -40px;
    top: -10px;
}